/* components/Header/Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0a0a0a;
  color: #fff;
  border-bottom: 1px solid #1c1c1cfc;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s;
}

.header a:hover {
  color: #ddd;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navigation li a {
  text-decoration: none;
  color: #888;
  font-size: 1rem;
}

.navigation li a:hover {
  color: #ededed;
}
