.input {
  flex: 1;
  max-width: 240px;
  padding: 6px 12px;
  font-size: 16px;
  color: #8f8f8f;
  border: none;
  background-color: #1a1a1a;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.input:hover {
  background-color: #1a1a1ab1;
}
