.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #000;
  color: #fafafa;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #333;
}

.notesWrapper {
  width: 100%;
}
