/* page.module.css */

.mainContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.profileCard {
  max-width: 500px;
  width: 100%;
  background-color: #0a0a0a;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 24px;
  text-align: left;
}

.formTitle {
  font-size: 32px;
  font-weight: 700;
  color: #fefefe;
  margin-bottom: 24px;
  text-align: left;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 24px auto;
}

.profileInfo {
  font-size: 18px;
  color: #888;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.usernameWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.usernameWrapper label {
  font-weight: 600;
  margin-bottom: 8px;
  color: #888;
}

.input {
  padding: 10px 12px;
  font-size: 16px;
  border: 1.5px solid #333;
  border-radius: 8px;
  outline-offset: 2px;
  background-color: #1a1a1a;
  transition: all 0.3s ease;
}

.input:hover {
  background-color: #1a1a1ab1;
  border-color: #888;
  outline: none;
}

.profileInfo p {
  margin: 0;
  font-weight: 500;
}

.saveButton {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: stretch;
  text-align: center;
}

.saveButton:hover {
  background-color: #0b5ed7;
}

.cancelButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: transparent;
  color: #fefefe;
  border: 2px solid #333;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cancelButton:hover {
  background-color: #333333a8;
  color: white;
}
.actions {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}
