.footer {
  margin-top: auto;
  padding: 20px;
  background-color: #000;
  text-align: center;
  font-size: 14px;
  color: #ededed;
  border-top: 1px solid #1f1f1ffc;
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: #888;
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: #ededed;
}
