.footer {
  margin-top: auto;
  padding: 20px;
  background-color: #333;
  text-align: center;
  font-size: 14px;
  color: white;
  border-top: 1px solid #414141;
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: #226ec5;
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
