.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem {
  background-color: #111;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition: all 300ms;
}

.listItem:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  /* background-color: #ffffff12; */
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: #fff;
}

.content {
  margin: 0;
  flex-grow: 1;
  font-size: 14px;
  color: #888;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.button {
  align-self: flex-end;
  padding: 6px 12px;
  font-size: 14px;
  color: #ededed;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  transform: translateY(-1px);
  background-color: #ffffff17;
}

.button:active {
  transform: translateY(0);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
  color: #0d6efd;
  background-color: #e7f1ff;
  border: 1px solid #b6d4fe;
  border-radius: 12px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ======================== */

.link {
  align-self: flex-end;
  padding: 6px 12px;
  font-size: 14px;
  color: #fff;
  background-color: #0d6efd; /* синій колір */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease;
}

.link:hover {
  background-color: #0b5ed7;
}

.link:hover {
  transform: translateY(-1px);
  background-color: #0b5ed7;
}
.link:active {
  transform: translateY(0);
}

.link:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}
